/*.jumbotron {
	background-image: url(sky_bg.jpg);
	background-size: contain;
}*/

.navbar {
	background-color: transparent;
	background: transparent;;
	margin-left: 1%;
}

 body {
 	background-image: url(hd_sky_bg.jpg);
	background-size: cover;
	background-position: center;
 }
 .jumbotron {
 	background-color: transparent;
	background: transparent;
 }
 div ul li a {
 	font-weight: bold;
 }
 .modal-content {
 	background-color: grey;
 }

